*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
	background-color: rgb(249, 226, 215);
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

form{
    width: 700px;
}

.img{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: left;
}

.img img{
	width: 550px;
    margin-left: 60px;
}

.login-content h2{
	margin: 15px 0;
	color: #000;
	font-size: 4rem;
}

form p{
    font-size: 1.1rem;
}

.btn{
	display: block;
	width: 65%;
	height: 65px;
	border-radius: 45px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #4d2a04, #723f05, #4d2a04);
	background-size: 200%;
	font-size: 1.7rem;
	color: #f9e2d7;
	margin: 3rem 0;
	cursor: pointer;
	transition: .5s;
    font-weight: 500;
}

.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}