body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../img/background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
    align-items: center;  
}

.right img{
    width: 100%;
}

.left{
    max-width: 45%;
    padding: 40px 64px;
}

.right{
    padding: 40px 48px;
}

.title{
    color: #ffffff;
    font-size: 4.3em;
    width: 90%;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 48px;
}

.description{
    color: #ffffff;
    font-size: 1.1em;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 48px;
}

a.button{
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #f9e2d7;
    color: #381f02;
    padding: 18px 32px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: opacity 0.9;
}

a.button:hover{
    opacity: 0.9;
}


@media(max-width: 1035px){
    main{
        flex-direction: column;
    }

    .left,
    .right{
        width: 100%;
        max-width: 100%;
        padding: 24px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left{
        width: 95%;
        margin-bottom: 32px;
        text-align: center;
        order: 2;
    }

    .left .title{
        font-size: 3.2em;
    }

    a:button{
        max-width: 60%;
    }

    .right img{
        width: 40%;
        order:1;
    }

}