*{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.navbar{
    background-color: rgb(249, 226, 215);
    width: 100%;
    height: 12vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.navbar > #logo img{
    height: 90px;
    margin-left: 10vh;
}

.navbar ul{
    align-items: center;
    display: flex;
}

.navbar > ul > li > a{
    color: #381f02;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li {
    list-style: none;
    display:inline;
    padding-left:43px;
    padding-right:43px;
}

.navbar #login{
    background-color: rgb(73, 45, 34);
    color: #f9e2d7;
    padding: 15px 20px;
    border-radius: 30px;
    text-decoration: none;
    margin-right: 10vh;
}

.navbar .bars{
    color: rgb(56, 31, 2);
    cursor: pointer;
    font-size: 18px;
    margin-right: 10vh;
    display: none;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 12vh;
    width: 100%;
    height: 0;
    background: rgb(249, 226, 215);
    overflow: hidden;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 88vh;
}

.dropdown-menu  li{
    list-style: none;
    text-align: center;
    padding: 40px;
}

.dropdown-menu  > li > a{
    text-decoration: none;
    color: rgb(56, 31, 2);
    font-size: 3vh;
    text-align: center;
}

.dropdown-menu  > li > #login{
    background-color: rgb(73, 45, 34);
    color: rgb(249, 226, 215);
    padding: 15px 20px;
    border-radius: 35px;
    text-decoration: none;
}

@media (max-width: 992px) {
    .navbar  ul,
    .navbar #login{
        display: none;
    }

    .navbar .bars{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }
}

main{
    justify-content: center;
    display: flex;
}

main  > .container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    width: 60vw;
    border-radius: 30px;
    padding: 20px;
    gap: 3em;
    margin-top: 125px;
}

main section .product{
    background-color: white;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}

main section .product h3{
    font-weight: 400;
}

main section .product .product2{
    display: block;
    flex-direction: column;
    text-align: center;
}

main section .product img{
    width: 75%;
    border-radius: 15px;
}

main section .product a{
    background-color: rgb(73, 45, 34);
    color: #f9e2d7;
    text-decoration: none;
    padding: 3% 15%;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}
